*.log
config/config.js
conf.json
server/config/SystemConfig.js
host_config.js
public/docs/json/index.json
public/backend/js/config/host_config.js
public/uploads/*
.idea/*
uploads/*
node_modules
.DS_Store
.DS_Store?
package-lock.json
public/robot.txt