<!DOCTYPE html>
<html lang="zh-cn" ng-app="login_module">
<head>
    <meta charset="UTF-8">
    <title>CMS</title>
    <link rel="icon" href="/backend/assets/images/favicon.png" sizes="32x32">
    <link rel="stylesheet" href="/backend/assets/plugins/materialize/css/materialize.css">
    <link rel="stylesheet" href="/backend/assets/plugins/alert/sweetalert.css">
    <link rel="stylesheet" href="/backend/assets/plugins/material_icon/css/materialdesignicons.css">
</head>
<body class="" ng-controller="login_controller">
<div>
    <div>
        <div class="row">
            <div class="col s4 push-l4 z-depth-4 card-panel" style="margin-top: 160px;">
                <form class="col s12">

                    <div class="row">
                        <div class="input-field col s12" style="margin-top: -4px">
                            <i class="mdi mdi-account-card-details prefix"></i>
                            <input id="username" ng-model="username" autocomplete="off"   type="text" class="validate">
                            <label for="username" class="active" >用户名</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="mdi mdi-lock prefix"></i>
                            <input id="password" ng-model="password" autocomplete="off"    type="password">
                            <label for="password" class="active" >密码</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light col s12" ng-click="login()">登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/backend/lib/jquery.min.js"></script>
<script src="/backend/assets/plugins/materialize/js/materialize.js"></script>
<script src="/backend/assets/plugins/alert/sweetalert.min.js"></script>
<script src="/backend/lib/angular/angular.min.js"></script>
<script src="/backend/lib/angular/angular-ui-router.min.js"></script>
<script src="/backend/lib/angular/angular-cookies.min.js"></script>
<script src="/backend/js/module/login_module.js"></script>
<script src="/backend/js/config/host_config.js"></script>
<script src="/backend/js/service/base_service.js"></script>
<script src="/backend/js/service/http_service.js"></script>
<script src="/backend/js/service/config_service.js"></script>
<script src="/backend/js/controller/login_controller.js"></script>
</html>