
p{
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    overflow-x: auto;
    overflow-y: scroll;
}
.container{
    margin:0 0 70px 0;
    background: #f1f5f5;
    overflow-y: scroll;
}
.collection{
    border: 0px !important;
}
/*header*/
.nav_bg {
    width: 100%;
    height: 64px;
    background: white;
    position: fixed;
    z-index: 10;
}
.logo_img{
    margin-top:10px;
    height: 45px;
}
.nav_block {
    width: 16%;
    height: 60px;
    line-height: 30px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
}
.nav_block a:hover{
    color: yellow !important;
}
.nameLogo{
    font-size: 23px;
    font-weight: bold;
    line-height: 100px;
}
/*footer*/
.page-footer{
    width: 100%;
    z-index: 1030;
    background: url(../images/about_bg.jpg) repeat-x !important;
    padding:0 !important;
}
.footer {
    background-color: #222222;
    color: #555555;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    font-family: "microsoft yahei",Tahoma, sans-serif;
}
.lined {
    border-bottom-color: #505050;
    margin-bottom: 15px;
    border-bottom: 2px solid #b6b6b6;
}
.lined h2 span a{
    color: white;
}
.footerLi{
    /*height: 650px;*/
    width: 100%;
    border-top:3px solid #1E88E5;
    position: relative;
}
.bolded-line {
    background-color: white;
    display: block;
    margin-bottom: -2px;
    margin-top: 16px;
    width: 22px;
    height: 2px;
}
.foot {
    color: white;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    /*height: 600px;*/
    border-top:3px solid #1E88E5;
}
.hdjy{
    width: 100%;
    height: 100%;
    position: relative;
}
.lined h2 {
    color: white;
    font-size: 18px;
    font-family: 'PT Sans';
    height:20px;
    line-height: 20px;
    font-weight: bold;
    overflow: hidden;
}
.lined span {
    color: white;
}
.lined h5 {
    color: #999999;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    font-family: 'PT Sans';
}
.span3 {
    width: 21%;
    min-height: 1px;
    margin-left: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.search-width {
    border: 1px solid #cccccc;
    width: 75%;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 3px;
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    background-color: white;
    display: inline-block;
    height: 26px;
    padding: 4px 6px;
    line-height: 20px;
    color: #555555;
    font-size: 12px;
}
.input-append {
    margin-bottom: 5px;
    font-size: 0;
    white-space: nowrap;
}
.kect_index {
    width: 100%;
    margin: 0 auto;
    top:100px;
    left: 55%;
}
.kect_index .companyName{
    top:180px;
    left: 0;
    color: #90a3ae;
    width: 100%;
}
/*blank*/
.blank{
    height: 90px;
    width: 100%;
}


/*轮播*/
/*.example {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*.carousel{*/
    /*width: 100%;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*position: relative;*/
/*}*/
/*.carousel .indicators {*/
    /*position: absolute;*/
    /*text-align: right !important;;*/
    /*right: 30px !important;*/
    /*bottom: 0px !important;*/
    /*margin: 0;*/
/*}*/

/*.carousel .carousel-item{*/
    /*visibility:visible !important;*/
/*}*/
.slider .slides li .caption {
    color: #fff;
    position: absolute;
    top: 15%;
    left: 10%;
    width: 88%;
    opacity: 0;
}

#menu0:target,#menu1:target{
    padding-top:0px;
}

/*.mask3{*/
    /*position: absolute;*/
    /*bottom:0px;*/
    /*left:20%;*/
    /*z-index: 1000;*/
    /*height: 60px;*/
    /*width: 60%;*/
/*}*/
/*.mask3 .maskLine1,.mask3 .maskLine2 {*/
    /*border-bottom: 1px solid white;*/
    /*margin-top: 20px;*/
/*}*/
/*.mask3 .maskClick{*/
    /*height: 60px;*/
/*}*/
/*.mask3 .maskClick i{*/
    /*height: 60px;*/
    /*width: 100%;*/
    /*color: white;*/
    /*display: block;*/
    /*font-size: 40px;*/
/*}*/

.borderYellow{
    width: 70px;
    border-bottom:4px solid orange;
}

/*公司简介*/
.companyPro{
    width: 100%;
    background: url(../images/company_bg.jpg) repeat-x !important;
    border-top:3px solid #1E88E5;
    position: relative;
}
.companyInter{
    margin-top: 100px;
    color: white;
    height: 220px;
    width: 500px;
}
.companyContent{
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2;
    text-align: left;
}
.companyMask{
    bottom:0;
    left: 20%;
    z-index: 1000;
    height: 60px;
}
.companyMask .maskLine1,.companyMask .maskLine2 {
    border-bottom: 1px solid white;
    margin-top: 20px;
}
.companyMask .maskClick{
    height: 60px;
}
.companyMask .maskClick i{
    height: 60px;
    width: 100%;
    color: white;
    display: block;
    font-size: 40px;
}

/*产品介绍*/
.productPresentation{
    width: 100%;
    border-top:3px solid #1E88E5;
    position: relative;
}

.productInter {
    margin-top: 150px;
}

.productInterduce{
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2;
    text-align: left;
    color: dimgrey;
}

.showProduct{
    margin-top:30px;
}
.collection a.collection-item:not(.active):hover{
    background: white !important;
}

.productPart{
    height: 280px;
    position: relative;
    overflow: hidden;
    font-size: 100px;
}
.productPart p{
    margin-top: 15px;
    width: 80%;
    margin-left:10% ;
    text-align: left;
    font-size: 13px;
}
.collection a.collection-item:not(.active):hover{
    background: white;!important;
}
/*.productPart .productPartPic{*/
    /*width: 100%;*/
    /*height: 280px;*/
/*}*/
/*.productPart .silhouette_block_pic {*/
    /*height: 280px;*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*margin:10px 10px 0 0;*/
    /*font-size: 100px;*/
/*}*/

.productPartMask{
    bottom:0;
    left: 20%;
    height: 60px;
}
.productPartMask .maskLine1,.productPartMask .maskLine2 {
    border-bottom: 1px solid black;
    margin-top: 20px;
}
.productPartMask .maskClick{
    height: 60px;
}
.productPartMask .maskClick i{
    height: 60px;
    width: 100%;
    color: black;
    display: block;
    font-size: 40px;
}

/* 新闻资讯 */
.coreBusiness{
    width: 100%;
    border-top:3px solid #1E88E5;
    position: relative;
}
.coreBusinessInter{
    margin-top:150px;
}
.enterpriseNews{
    top:280px;
    left: 15%;
    width: 35%;
    height: 300px;
}

.news_type {
    font-weight: bolder;
    font-size: 16px;
    margin-left: 12%;
}

.news_more {
    margin-right: 12%;
}

.enterpriseNews a{
    color: cyan;
    top:8px;
    right: 80px;
    font-size: 15px;

}
.enterpriseNews ul{
    top:70px;
    left: 0;
    width: 100%;
    height: 300px;
}
.enterpriseNews ul li{
    border-bottom: 1px dotted #ccc;
    height: 40px;
    line-height:40px;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    position: relative;
}
.enterpriseNews ul li .liSpan{
    position: absolute;
    top:12px;
    left: 1px;
    height: 20px;
    width: 5px;
    background: black;
    display: block;
}
.enterpriseNews ul li .totalSpan{
    margin-left: 30px;
    display: block;
    font-size: 15px;
    color: dimgrey;
}

.companyNews{
    top:280px;
    left: 50%;
    width: 35%;
    height: 300px;
}
.companyNews a{
    color: cyan;
    top:8px;
    right: 80px;
    font-size: 15px;

}
.companyNews ul{
    top:70px;
    left: 0;
    width: 100%;
    height: 300px;
}
.companyNews ul li{
    border-bottom: 1px dotted #ccc;
    height: 40px;
    line-height:40px;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    position: relative;
}
.companyNews ul li .liSpan{
    position: absolute;
    top:12px;
    left: 1px;
    height: 20px;
    width: 5px;
    background: black;
    display: block;
}
.companyNews ul li .totalSpan{
    margin-left: 30px;
    display: block;
    font-size: 15px;
    color: dimgrey;
}




.businessMask{
    bottom:15px;
    left: 20%;
    height: 60px;
}
.businessMask .maskLine1,.businessMask .maskLine2 {
    border-bottom: 1px solid black;
    margin-top: 20px;
}
.businessMask .maskClick{
    height: 60px;
}
.businessMask .maskClick i{
    height: 60px;
    width: 100%;
    color: black;
    display: block;
    font-size: 40px;
}

/* 关于我们 */
#showLinkMe{
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 20px;
}
.f_end{
    width: 90%;
    color: #90a3ae;
    font-size: 15px;
    line-height: 2;
}
.mapFoot{
    height: 400px;
    margin: 10px 0;
    width: 90%;
}

.wrap1003 {
    max-width: 1210px;
    min-height: 600px;
    padding-top: 90px;
    margin: 0 auto;
    overflow: hidden;
    color: #656565;
    margin-bottom: 30px;
}
.ab_huod {
    width: 20%;
    float: left;
    margin-right: 10px;
    border: 1px solid #e3e3e3;
    padding: 1px;
    margin-top: 15px;
}
.ab_huod_tit {
    width: 100%;
    height: 31px;
    background: url(../images/ab_huodon_tit.png) repeat-x;
    float: left;
    line-height: 31px;
    font-size: 14px;
    color: #696969;
    font-weight: bold;
    text-align: left;
    text-indent: 15px;
}
.ab_huod_fenlei{
    width: 100%;
    background: #f5f5f5;
    float: left;
    font-size: 12px;
    color: #000;
    text-align: left;
    text-indent: 15px;
    margin: 0;
}
.ab_huod_fenlei .treeDemo{
    height: 31px;
    line-height: 31px;
    border-bottom: 1px solid #ccc;
}
.ab_huod_fenlei .treeDemo a{
    color: #000;
    margin-left: 10px;
}
.about_word {
    display: inline;
    border: 1px solid #e3e3e3;
    width: 77%;
    margin-bottom: 12px;
    margin-top: 15px;
    height: auto;
    float: left;
}
.about_word_seach{
    display: inline;
    border: 1px solid #e3e3e3;
    width: 78%;
    margin-bottom: 12px;
    margin-top: 15px;
    height: auto;
    float: left;
    margin-left: 11%;
}
.kect {
    width: 100%;
    float: left;
    border-bottom: 1px solid #e3e3e3;
    background: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
}
.mores {
    display: block;
    font-size: 12px;
    float: left;
    margin-left: 20px;
    text-decoration: none;
    color: #656565;
    height: 32px;
    line-height: 32px;
}
.ab_neir {
    width: 95%;
    margin-left: 2.5%;
    float: left;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    color: #5a5a5a;
}
.ab_neir1{
    width: 100%;
    float: left;
    padding: 5px;
    text-align: left;
    color: #5a5a5a;
}
.ab_neir_img{
    width: 25%;
    height: 157px;
    float: left;
    padding:1%;
}
.jididong {
    width: 100%;
    float: left;
    list-style: none;
    color: #000;
}
.jididong li {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    line-height: 35px;
    border-bottom: 1px dashed #e3e3e3;
}
.jididong li a {
    background: url(../images/huijiant_03.png) no-repeat left;
    width: 100%;
    height: 35px;
    text-indent: 10px;
    line-height: 35px;
    display: block;
    color: #5a5a5a;!important;
}
.jididong li a:hover {
    background: url(../images/huijiant_03.png) no-repeat left;
    width: 100%;
    height: 35px;
    text-indent: 10px;
    line-height: 35px;
    display: block;
    color: #8b1014;
}
.fenye {
    height: 26px;
    float: left;
    margin-left: 25%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.rq {
    float: right;
}
.collection .example .ft-carousel .carousel-inner .carousel-item a.collection-item{
    color: #000 !important;
    padding-top: 3px;
    position: relative;
    width: 100%;
    height: 530px;

}
.collection .ab_neir .jididong .collection-item{
    color: #000 !important;
    padding-top: 3px;
}
.collection .ab_neir .jididong a:hover{
    background-color: white;
}
.mingyuanlogo{
    height: 50px;
}

.shuntong{
    display: none;
}
.hongli{
    display: none;
}
.mingyuan{
    display: block;
    margin: 0;
    padding: 0;
}