
p{
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    overflow-x: auto;
    overflow-y: scroll;
}
.container{
    margin:0 0 70px 0;
    background: #f1f5f5;
    overflow-y: scroll;
}
.collection{
    border: 0px !important;
}
/*header*/
#nav_bg {
    width: 100%;
    height: 100px;
    background: white;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}
.nav_bg{
    width: 100%;
    height: 100px;
}
.logo_img{
    margin-top:30px;
    height: 45px;
}
.nav_block {
    width: 14%;
    height: 60px;
    line-height: 30px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
}
.nav_block a:hover{
    color: yellow !important;
}
.nameLogo{
    font-size: 23px;
    font-weight: bold;
    line-height: 100px;
}
/*footer*/
.page-footer{
    width: 100%;
    z-index: 1030;
    background: url(../images/back.jpg) repeat-x !important;
    padding:0 !important;
    margin-top: -15px;
}
.footer {
    background-color: #222222;
    color: #555555;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    font-family: "microsoft yahei",Tahoma, sans-serif;
}
.lined {
    border-bottom-color: #505050;
    margin-bottom: 15px;
    border-bottom: 2px solid #b6b6b6;
}
.lined h2 span a{
    color: white;
}
.footerLi{
    width: 80%;
    margin-left: 10%;
    padding-bottom: 20px;
    height:420px ;
}
.bolded-line {
    background-color: white;
    display: block;
    margin-bottom: -2px;
    margin-top: 16px;
    width: 22px;
    height: 2px;
}
.foot {
    color: white;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    border-top:3px solid #1E88E5;
}
.lined h2 {
    color: white;
    font-size: 18px;
    font-family: 'PT Sans';
    height:20px;
    line-height: 20px;
    font-weight: bold;
    overflow: hidden;
}
.lined span {
    color: white;
}
.lined h5 {
    color: #999999;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    font-family: 'PT Sans';
}
.span3 {
    width: 21%;
    min-height: 1px;
    margin-left: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.search-width {
    border: 1px solid #cccccc;
    width: 75%;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 3px;
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    background-color: white;
    display: inline-block;
    height: 26px;
    padding: 4px 6px;
    line-height: 20px;
    color: #555555;
    font-size: 12px;
}
.input-append {
    margin-bottom: 5px;
    font-size: 0;
    white-space: nowrap;
}
.kect_index {
    width: 14%;
    border-bottom: 2px solid yellow;
    margin: 0 auto;
}
/*blank*/
.blank{
    height: 100px;
    width: 100%;
}

/*轮播*/
.example {
    width: 100%;
    height: 800px;
    font-size: 40px;
    border-top:3px solid #1E88E5;
    overflow: hidden;
}
.ft-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.ft-carousel .carousel-inner {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
}
.ft-carousel .carousel-inner .carousel-item {
    float: left;
    height: 100%;
    color: #fff;
    margin-top: -40px;
}
.ft-carousel .carousel-item img {
    width: 100%;
    height:780px;
}



.ft-carousel .carousel-indicators span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    margin: 0 4px;
    border-radius: 50%;
    cursor: pointer;
}
.ft-carousel .carousel-indicators span.active {
    background-color: #de3a3a;
}
.ft-carousel .carousel-indicators {
    position: absolute;
    padding-right: 30px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 35px;
    line-height: 0px;
    text-align: right;
    font-size: 0;
}


#menu0:target,#menu1:target{
    padding-top:0px;
}
.mask1{
    position: absolute;
    top:380px;
    left: 41%;
    z-index: 1000;
    color: yellow;
    font-size:13px ;
}
.mask2{
    position: absolute;
    top:650px;
    left: 26%;
    z-index: 1000;
    color: white;
    font-size:15px ;
}
.mask3{
    position: absolute;
    top:780px;
    left: 20%;
    z-index: 1000;
    height: 60px;
    width: 60%;
}
.mask3 .maskLine1,.mask3 .maskLine2 {
    border-bottom: 1px solid white;
    margin-top: 20px;
}
.mask3 .maskClick{
    height: 60px;
}
.mask3 .maskClick i{
    height: 60px;
    width: 100%;
    color: white;
    display: block;
}



/*公司简介*/
.companyPro{
    height: 650px;
    width: 100%;
    background: pink;
    margin-top: -53px;
    border-top:3px solid #1E88E5;
    position: relative;
}
.companyInter{
    position: absolute;
    top:100px;
    left:50%;
    border-bottom:2px solid yellow;
    color: white;
}
.companyInter h5{
    text-align: left;
}
.companyContent{
    width: 470px;
    position: absolute;
    top:300px;
    left:50%;
    color: white;
    text-align: left;
}
.companyMask{
    position: absolute;
    top:550px;
    left: 20%;
    z-index: 1000;
    height: 60px;
    width: 60%;
}
.companyMask .maskLine1,.companyMask .maskLine2 {
    border-bottom: 1px solid white;
    margin-top: 20px;
}
.companyMask .maskClick{
    height: 60px;
}
.companyMask .maskClick i{
    height: 60px;
    width: 100%;
    color: white;
    display: block;
    font-size: 40px;
}

/*核心业务*/
.coreBusiness{
    height: 750px;
    width: 100%;
    border-top:3px solid #1E88E5;
    position: relative;
}
.coreBusinessInter{
    position: absolute;
    top:100px;
    left: 45%;
    border-bottom:2px solid yellow;
    color: black;
}
.showBusiness{
    width: 60%;
    height: 80px;
    position: absolute;
    top:250px;
    left: 20%;
    text-align: left;
    color: lightgray;
}
.businessShowImg{
    width: 80%;
    height: 200px;
    position: absolute;
    top:370px;
    left: 10%;
    text-align: left;
}
.businessShowImg .silhouette_block {
    width:33.3%;
    float: left;
    display: inline;
    overflow: hidden;
    margin-bottom: 30px;
}
.silhouette_block_pic {
    width: 100%;
    height: 197px;
    float: left;
    display: inline;
    overflow: hidden;
}
.showImg{
    width: 80%;
    margin: 0 auto;
}
.imgShow{
    width: 100%;
    height: 200px;
}
.businessMask{
    position: absolute;
    top:650px;
    left: 20%;
    z-index: 1000;
    height: 60px;
    width: 60%;
}
.businessMask .maskLine1,.businessMask .maskLine2 {
    border-bottom: 1px solid black;
    margin-top: 20px;
}
.businessMask .maskClick{
    height: 60px;
}
.businessMask .maskClick i{
    height: 60px;
    width: 100%;
    color: black;
    display: block;
    font-size: 40px;
}

/*产品介绍*/
.productPresentation{
    height: 750px;
    width: 100%;
    border-top:3px solid #1E88E5;
    position: relative;
}
.productInter {
    position: absolute;
    top:100px;
    left: 41%;
    border-bottom:2px solid yellow;
    color: black;
}
.showProduct{
    position: absolute;
    top:250px;
    left: 10%;
    width: 80%;
    height: 200px;
    color: black;
}
.productPart{
    width:33.3%;
    float: left;
    display: inline;
    overflow: hidden;
    margin-bottom: 30px;
}
.productPart p{
    margin-top: 15px;
    width: 80%;
    margin-left:10% ;
    text-align: left;
    font-size: 13px;
}
.productPart .productPartPic{
    width: 80%;
    margin-left:10%;
    margin-top: 20px;
    height: 197px;
}
.productPart .silhouette_block_pic {
    width: 100%;
    height: 197px;
    float: left;
    display: inline;
    overflow: hidden;
}
.productPartMask{
    position: absolute;
    top:650px;
    left: 12.5%;
    z-index: 1000;
    height: 60px;
    width: 75%;
}
.productPartMask .maskLine1,.productPartMask .maskLine2 {
    border-bottom: 1px solid black;
    margin-top: 20px;
}
.productPartMask .maskClick{
    height: 60px;
}
.productPartMask .maskClick i{
    height: 60px;
    width: 100%;
    color: black;
    display: block;
    font-size: 40px;
}


/*应用领域*/
.applicationArea{
    height: 650px;
    width: 100%;
    background: pink;
    border-top:3px solid #1E88E5;
    position: relative;
}
.applicationAreaInter{
    position: absolute;
    top:100px;
    left:50%;
    border-bottom:2px solid yellow;
    color: white;
}
.applicationAreaInter h5{
    text-align: left;
}
.applicationAreaContent{
    width: 470px;
    position: absolute;
    top:300px;
    left:50%;
    color: white;
    text-align: left;
}
.applicationAreaMask{
    position: absolute;
    top:550px;
    left: 20%;
    z-index: 1000;
    height: 60px;
    width: 60%;
}
.applicationAreaMask .maskLine1,.applicationAreaMask .maskLine2 {
    border-bottom: 1px solid white;
    margin-top: 20px;
}
.applicationAreaMask .maskClick{
    height: 60px;
}
.applicationAreaMask .maskClick i{
    height: 60px;
    width: 100%;
    color: white;
    display: block;
    font-size: 40px;
}

.applicationAreaImg{
    position: absolute;
    top:100px;
    left:15%;
    width: 400px;
    height: 400px;
}
.applicationAreaImgShow img{
    width: 150px;
    height: 150px;
    margin: 25px;
}




/*联系我们*/
#showLinkMe{
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    margin-left: 14%;
}
.f_end{
    margin-top: 20px;
}
.mingyuanlogo{
    height: 50px;
}

.shuntong{
    display: none;
}
.hongli{
    display: none;
}
.mingyuan{
    display: block;
    margin: 0;
    padding: 0;
}





