
p{
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    overflow-x: auto;
    overflow-y: scroll;
}
.container{
    margin:0 0 70px 0;
    background: #f1f5f5;
    overflow-y: scroll;
}
.collection{
    border: 0px !important;
}
/*header*/
#nav_bg {
    width: 100%;
    height: 100px;
    background: white;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}
.nav_bg{
    width: 100%;
    height: 100px;
}
.logo_img{
    margin-top:30px;
    height: 45px;
}
.nav_block {
    width: 16%;
    height: 60px;
    line-height: 30px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
}
.nav_block a:hover{
    color: yellow !important;
}
.nameLogo{
    font-size: 23px;
    font-weight: bold;
    line-height: 100px;
}
/*footer*/
.page-footer{
    width: 100%;
    z-index: 1030;
    background: url(../images/about_bg.jpg) repeat-x !important;
    padding:0 !important;
    margin-top: -15px;
}
.footer {
    background-color: #222222;
    color: #555555;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    font-family: "microsoft yahei",Tahoma, sans-serif;
}
.lined {
    border-bottom-color: #505050;
    margin-bottom: 15px;
    border-bottom: 2px solid #b6b6b6;
}
.lined h2 span a{
    color: white;
}
.footerLi{
    height: 650px;
    width: 100%;
    border-top:3px solid #1E88E5;
    position: relative;
}
.bolded-line {
    background-color: white;
    display: block;
    margin-bottom: -2px;
    margin-top: 16px;
    width: 22px;
    height: 2px;
}
.foot {
    color: white;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    height: 600px;
    border-top:3px solid #1E88E5;
}
.lined h2 {
    color: white;
    font-size: 18px;
    font-family: 'PT Sans';
    height:20px;
    line-height: 20px;
    font-weight: bold;
    overflow: hidden;
}
.lined span {
    color: white;
}
.lined h5 {
    color: #999999;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    font-family: 'PT Sans';
}
.span3 {
    width: 21%;
    min-height: 1px;
    margin-left: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.search-width {
    border: 1px solid #cccccc;
    width: 75%;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 3px;
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    background-color: white;
    display: inline-block;
    height: 26px;
    padding: 4px 6px;
    line-height: 20px;
    color: #555555;
    font-size: 12px;
}
.input-append {
    margin-bottom: 5px;
    font-size: 0;
    white-space: nowrap;
}
.kect_index {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top:100px;
    left: 55%;
}
.kect_index .borderYellow5{
    position: absolute;
    top:120px;
    left: 0;
    height: 4px;
    width: 50px;
    border-bottom:4px solid orange;
}
.kect_index .companyName{
    position: absolute;
    top:180px;
    left: 0;
    color: #90a3ae;
    width: 100%;
}
/*blank*/
.blank{
    height: 90px;
    width: 100%;
}

/*轮播*/
.example {
    width: 100%;
    height: 800px;
    font-size: 40px;
    overflow: hidden;
}
.ft-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.ft-carousel .carousel-inner {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
}
.ft-carousel .carousel-inner .carousel-item {
    float: left;
    height: 100%;
    color: #fff;
    margin-top: -40px;
}
.ft-carousel .carousel-item img {
    width: 100%;
    height:780px;
}



.ft-carousel .carousel-indicators span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    margin: 0 4px;
    border-radius: 50%;
    cursor: pointer;
}
.ft-carousel .carousel-indicators span.active {
    background-color: #de3a3a;
}
.ft-carousel .carousel-indicators {
    position: absolute;
    padding-right: 30px;
    right: 0px;
    bottom: 55px;
    width: 100%;
    height: 35px;
    line-height: 0px;
    text-align: right;
    font-size: 0;
}


#menu0:target,#menu1:target{
    padding-top:0px;
}
.mask1{
    position: absolute;
    top:380px;
    left: 41%;
    z-index: 1000;
    color: yellow;
    font-size:13px ;
}
.mask2{
    position: absolute;
    top:650px;
    left: 26%;
    z-index: 1000;
    color: white;
    font-size:15px ;
}
.mask3{
    position: absolute;
    top:780px;
    left:20%;
    z-index: 1000;
    height: 60px;
    width: 60%;
}
.mask3 .maskLine1,.mask3 .maskLine2 {
    border-bottom: 1px solid white;
    margin-top: 20px;
}
.mask3 .maskClick{
    height: 60px;
}
.mask3 .maskClick i{
    height: 60px;
    width: 100%;
    color: white;
    display: block;
}



/*公司简介*/
.companyPro{
    height: 700px;
    width: 100%;
    background: url(../images/company_bg.jpg) repeat-x !important;
    margin-top: -53px;
    border-top:3px solid #1E88E5;
    position: relative;
}
.companyInter{
    background: url(../images/compan_title.png) repeat-x !important;
    position: absolute;
    top:100px;
    left:55%;
    color: white;
    height: 220px;
    width: 500px;
}
.companyContent{
    width: 70%;
    position: absolute;
    top:350px;
    left:15%;
    color: black;
    font-family: "宋体 ","SimSun";
    line-height: 2;
    text-align: left;
}
.companyMask{
    position: absolute;
    top:620px;
    left: 20%;
    z-index: 1000;
    height: 60px;
    width: 60%;
}
.companyMask .maskLine1,.companyMask .maskLine2 {
    border-bottom: 1px solid white;
    margin-top: 20px;
}
.companyMask .maskClick{
    height: 60px;
}
.companyMask .maskClick i{
    height: 60px;
    width: 100%;
    color: white;
    display: block;
    font-size: 40px;
}

/*核心业务*/
.coreBusiness{
    height: 750px;
    width: 100%;
    border-top:3px solid #1E88E5;
    position: relative;
}
.coreBusinessInter{
    position: absolute;
    top:100px;
    left: 46.5%;
    color: black;
}
.enterpriseNews{
    position: absolute;
    top:280px;
    left: 15%;
    width: 35%;
    height: 300px;
}
.enterpriseNews h6{
    font-weight: bolder;
    width: 130px;
}
.enterpriseNews a{
    color: cyan;
    position: absolute;
    top:8px;
    right: 80px;
    font-size: 15px;

}
.enterpriseNews ul{
    position: absolute;
    top:70px;
    left: 0;
    width: 100%;
    height: 300px;
}
.enterpriseNews ul li{
    border-bottom: 1px dotted #ccc;
    height: 40px;
    line-height:40px;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    position: relative;
}
.enterpriseNews ul li .liSpan{
    position: absolute;
    top:12px;
    left: 1px;
    height: 20px;
    width: 5px;
    background: black;
    display: block;
}
.enterpriseNews ul li .totalSpan{
    position: absolute;
    top:0px;
    left: 30px;
    display: block;
    font-size: 15px;
    color: dimgrey;
}

.companyNews{
    position: absolute;
    top:280px;
    left: 50%;
    width: 35%;
    height: 300px;
}
.companyNews h6{
    font-weight: bolder;
    width: 130px;
}
.companyNews a{
    color: cyan;
    position: absolute;
    top:8px;
    right: 80px;
    font-size: 15px;

}
.companyNews ul{
    position: absolute;
    top:70px;
    left: 0;
    width: 100%;
    height: 300px;
}
.companyNews ul li{
    border-bottom: 1px dotted #ccc;
    height: 40px;
    line-height:40px;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    position: relative;
}
.companyNews ul li .liSpan{
    position: absolute;
    top:12px;
    left: 1px;
    height: 20px;
    width: 5px;
    background: black;
    display: block;
}
.companyNews ul li .totalSpan{
    position: absolute;
    top:0px;
    left: 30px;
    display: block;
    font-size: 15px;
    color: dimgrey;
}




.businessMask{
    position: absolute;
    top:650px;
    left: 20%;
    z-index: 1000;
    height: 60px;
    width: 60%;
}
.businessMask .maskLine1,.businessMask .maskLine2 {
    border-bottom: 1px solid black;
    margin-top: 20px;
}
.businessMask .maskClick{
    height: 60px;
}
.businessMask .maskClick i{
    height: 60px;
    width: 100%;
    color: black;
    display: block;
    font-size: 40px;
}

/*产品介绍*/
.productPresentation{
    height: 750px;
    width: 100%;
    border-top:3px solid #1E88E5;
    position: relative;
}
.productInter {
    position: absolute;
    top:100px;
    left: 41%;
    color: black;
}
.borderYellow{
    position: absolute;
    top:200px;
    left: 48%;
    height: 4px;
    width: 70px;
    border-bottom:4px solid orange;
}
.showProduct{
    position: absolute;
    top:350px;
    left: 10%;
    width: 80%;
    height: 200px;
    color: black;
}
.productInterduce{
    position: absolute;
    top:240px;
    left: 20%;
    width: 60%;
    text-align: left;
    color: dimgrey;
}
.carH5{
     position: absolute;
     bottom: 110px;
     left: 10%;
     width: 80%;
     height: 20px;
     color: dimgrey;
}
.productPart{
    width:33.3%;
    float: left;
    display: inline;
    overflow: hidden;
    margin-bottom: 30px;
}
.productPart p{
    margin-top: 15px;
    width: 80%;
    margin-left:10% ;
    text-align: left;
    font-size: 13px;
}
.productPart .productPartPic{
    width: 80%;
    margin-left:10%;
    margin-top: 20px;
    height: 197px;
}
.productPart .silhouette_block_pic {
    width: 100%;
    height: 197px;
    float: left;
    display: inline;
    overflow: hidden;
}
.productPartMask{
    position: absolute;
    top:650px;
    left: 20%;
    z-index: 1000;
    height: 60px;
    width: 60%;
}
.productPartMask .maskLine1,.productPartMask .maskLine2 {
    border-bottom: 1px solid black;
    margin-top: 20px;
}
.productPartMask .maskClick{
    height: 60px;
}
.productPartMask .maskClick i{
    height: 60px;
    width: 100%;
    color: black;
    display: block;
    font-size: 40px;
}

.borderYellow3{
    position: absolute;
    top:200px;
    left: 48%;
    height: 4px;
    width: 50px;
    border-bottom:4px solid orange;
}

/*联系我们*/
#showLinkMe{
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    margin-left: 14%;
}
.f_end{
    width: 30%;
    margin: 0 auto;
    position: absolute;
    top:380px;
    left: 55%;
    color: #90a3ae;
    font-size: 15px;
    line-height: 2;
}
.mapFoot{
    background: white;
    position: absolute;
    top: 125px;
    left: 100px;
    width: 45%;
    height: 65%;
}


.wrap1003 {
    max-width: 1210px;
    min-height: 600px;
    padding-top: 90px;
    margin: 0 auto;
    overflow: hidden;
    color: #656565;
    margin-bottom: 30px;
}
.ab_huod {
    width: 20%;
    float: left;
    margin-right: 10px;
    border: 1px solid #e3e3e3;
    padding: 1px;
    margin-top: 15px;
}
.ab_huod_tit {
    width: 100%;
    height: 31px;
    background: url(../images/ab_huodon_tit.png) repeat-x;
    float: left;
    line-height: 31px;
    font-size: 14px;
    color: #696969;
    font-weight: bold;
    text-align: left;
    text-indent: 15px;
}
.ab_huod_fenlei{
    width: 100%;
    background: #f5f5f5;
    float: left;
    font-size: 12px;
    color: #000;
    text-align: left;
    text-indent: 15px;
    margin: 0;
}
.ab_huod_fenlei .treeDemo{
    height: 31px;
    line-height: 31px;
    border-bottom: 1px solid #ccc;
}
.ab_huod_fenlei .treeDemo a{
    color: #000;
    margin-left: 10px;
}
.about_word {
    display: inline;
    border: 1px solid #e3e3e3;
    width: 77%;
    margin-bottom: 12px;
    margin-top: 15px;
    height: auto;
    float: left;
}
.about_word_seach{
    display: inline;
    border: 1px solid #e3e3e3;
    width: 78%;
    margin-bottom: 12px;
    margin-top: 15px;
    height: auto;
    float: left;
    margin-left: 11%;
}
.kect {
    width: 100%;
    float: left;
    border-bottom: 1px solid #e3e3e3;
    background: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
}
.mores {
    display: block;
    font-size: 12px;
    float: left;
    margin-left: 20px;
    text-decoration: none;
    color: #656565;
    height: 32px;
    line-height: 32px;
}
.ab_neir {
    width: 95%;
    margin-left: 2.5%;
    float: left;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    color: #5a5a5a;
}
.ab_neir1{
    width: 100%;
    float: left;
    padding: 5px;
    text-align: left;
    color: #5a5a5a;
}
.ab_neir_img{
    width: 25%;
    height: 157px;
    float: left;
    padding:1%;
}
.jididong {
    width: 100%;
    float: left;
    list-style: none;
    color: #000;
}
.jididong li {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    line-height: 35px;
    border-bottom: 1px dashed #e3e3e3;
}
.jididong li a {
    background: url(../images/huijiant_03.png) no-repeat left;
    width: 100%;
    height: 35px;
    text-indent: 10px;
    line-height: 35px;
    display: block;
    color: #5a5a5a;!important;
}
.jididong li a:hover {
    background: url(../images/huijiant_03.png) no-repeat left;
    width: 100%;
    height: 35px;
    text-indent: 10px;
    line-height: 35px;
    display: block;
    color: #8b1014;
}
.fenye {
    height: 26px;
    float: left;
    margin-left: 25%;
    margin-top: 60px;
    margin-bottom: 60px;
}
.rq {
    float: right;
}
.collection .example .ft-carousel .carousel-inner .carousel-item a.collection-item{
    color: #000 !important;
    padding-top: 3px;
    position: relative;
    width: 100%;
    height: 530px;

}
.collection .ab_neir .jididong .collection-item{
    color: #000 !important;
    padding-top: 3px;
}
.collection .ab_neir .jididong a:hover{
    background-color: white;
}
.mingyuanlogo{
    height: 50px;
}

.shuntong{
    display: none;
}
.hongli{
    display: none;
}
.mingyuan{
    display: block;
    margin: 0;
    padding: 0;
}





