<!--新增模态框-->
<div id="newOperator" class="modal">
    <form name="operatorForm" ng-submit="submitForm()" novalidate>
        <div class="modal-content">
            <div class="center-align" style="font-size: 20px">新增栏目</div>
            <div class="divider" style="background: #5a86ba;height: 2px;margin-top:10px;"></div>
            <div class="container">
                <div class="row" style="margin-top: 40px">

                    <!--父菜单-->
                    <div class="row">
                        <div class="col s4" style="font-size: 16px;margin-top:12px;"><span style="color: red">*</span> 父菜单:</div>
                        <div class="col s8" style="padding-left:0;">
                            <select style="display: block" ng-model="addColumn"  material-select watch>
                                <option value="" selected="selected">请选择</option>
                                <option value="-1">根目录</option>
                                <option ng-repeat="el in columnList" ng-value="el._id">{{el.menu_name}}</option>
                            </select>
                        </div>
                    </div>

                    <!--序列号-->
                    <div class="row">
                        <div class="col s4" style="font-size: 16px;margin-top:8px;"><span style="color: red">*</span> 序列号:</div>
                        <input class=" col s8" style="height:32px" id="password" name="password" autocomplete="off" ng-model="addnum" type="number" required >
                    </div>

                    <!--栏目名称-->
                    <div class="row" >
                        <div class="col s4" style="font-size: 16px;margin-top:8px;"><span style="color: red">*</span> 栏目名称:</div>
                        <input class=" col s8" style="height:32px" id="phone" name="phone" autocomplete="off" ng-model="addMenuName" type="text" required>
                    </div>

                    <!--是否页头显示-->
                    <div class="row" >
                        <div class="col s4" style="font-size: 16px;margin-top:8px;"><span style="color: red">*</span> 是否页头显示:</div>
                        <label class="col s2" style="padding-top: 8px">
                            <input name="newHeaderShow" type="radio" ng-value="1" ng-model="addHeaderShow"/>
                            <span>显示</span>
                        </label>
                        <label class="col s2" style="padding-top: 8px">
                            <input name="newHeaderShow" type="radio" ng-value="0" ng-model="addHeaderShow"/>
                            <span>隐藏</span>
                        </label>
                    </div>

                    <!--设置关联-->
                    <div class="row">
                        <div class="col s4" style="font-size: 16px;margin-top:10px;"><span style="color: red">*</span> 设置关联:</div>
                        <label class="col s2" style="padding-top: 8px">
                            <input name="group1" type="radio"  ng-value="1" ng-model="addLink"/>
                            <span>新闻</span>
                        </label>
                        <label class="col s2" style="padding-top: 8px">
                            <input name="group1" type="radio" ng-value="2" ng-model="addLink"/>
                            <span>列表</span>
                        </label>
                        <label class="col s2" style="padding-top: 8px">
                            <input name="group1" type="radio" ng-value="3" ng-model="addLink"/>
                            <span>图片</span>
                        </label>
                    </div>

                    <!--是否显示-->
                    <div class="row" >
                        <div class="col s4" style="font-size: 16px;margin-top:10px;"><span style="color: red">*</span> 是否显示:</div>
                        <label class="col s2" style="padding-top: 8px;">
                            <input name="group2" type="radio" ng-value="1" ng-model="addMenuStatus"/>
                            <span>显示</span>
                        </label>
                        <label class="col s2" style="padding-top: 8px;">
                            <input name="group2" type="radio" ng-value="0" ng-model="addMenuStatus"/>
                            <span>隐藏</span>
                        </label>
                    </div>

                    <!-- 菜单链接 -->
                    <div class="row" >
                        <div class="col s4" style="font-size: 16px;margin-top:8px;"><span style="color: red">&nbsp;&nbsp;</span> 菜单链接:</div>
                        <input class=" col s8" style="height:32px" id="menuLink" name="menuLink" autocomplete="off" ng-model="addMenuLink" type="text" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider" style="background: #5a86ba;height: 2px;"></div>
        <div class="modal-footer vc-center">
            <button class="btn waves-light waves-effect cyan" type="submit" name="action" >
                <i class="mdi mdi-check"></i>
            </button>
            <a  class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn" style="margin-left: 10px" >
                <i class="mdi mdi-close"></i>
            </a>
        </div>
    </form>
</div>

<!--编辑模态框-->
<div id="look_Operator" class="modal">
    <form name="change_operatorForm" ng-submit="changeOperatorForm(look_operation._id)" novalidate>
        <div class="modal-content">
            <div class="center-align" style="font-size: 20px">编辑栏目</div>
            <div class="divider" style="background: #5a86ba;height: 2px;margin-top:10px;"></div>
            <div class="container">
                <div class="row" style="margin-top: 40px">

                    <!-- 栏目ID -->
                    <div class="row">
                        <div class="col s4" style="font-size: 16px;margin-top:12px;"> 栏目ID:</div>
                        <input class="col s8" style="height:32px" ng-model="look_operation._id" type="text" disabled>
                    </div>

                    <!--父菜单-->
                    <div class="row">
                        <div class="col s4" style="font-size: 16px;margin-top:12px;"><span style="color: red">*</span> 父菜单:</div>
                        <div class="col s8" style="padding-left:0;">
                            <select style="display: block" ng-model="look_operation.menu_pid"  material-select watch>
                                <option value="" selected="selected">请选择</option>
                                <option value="-1">根目录</option>
                                <option ng-repeat="el in columnList" ng-value="el._id">{{el.menu_name}}</option>
                            </select>
                        </div>
                    </div>

                    <!--序列号-->
                    <div class="row">
                        <div class="col s4" style="font-size: 16px;margin-top:8px;"><span style="color: red">*</span> 序列号:</div>
                        <input class=" col s8" style="height:32px" name="password" autocomplete="off" ng-model="look_operation.menu_num" type="number" required>
                    </div>

                    <!--栏目名称-->
                    <div class="row" >
                        <div class="col s4" style="font-size: 16px;margin-top:8px;"><span style="color: red">*</span> 栏目名称:</div>
                        <input class="col s8" style="height:32px" name="phone" autocomplete="off" ng-model="look_operation.menu_name" type="text" required>
                    </div>

                    <!--是否页头显示-->
                    <div class="row" >
                        <div class="col s4" style="font-size: 16px;margin-top:8px;"><span style="color: red">*</span> 是否页头显示:</div>
                        <label class="col s2" style="padding-top: 8px">
                            <input name="headerShow" type="radio" ng-value="1" ng-model="look_operation.menu_header_show"/>
                            <span>显示</span>
                        </label>
                        <label class="col s2" style="padding-top: 8px">
                            <input name="headerShow" type="radio" ng-value="0" ng-model="look_operation.menu_header_show"/>
                            <span>隐藏</span>
                        </label>
                    </div>

                    <!--是否显示-->
                    <div class="row" >
                        <div class="col s4" style="font-size: 16px;margin-top:8px;"><span style="color: red">*</span> 是否显示:</div>
                        <label class="col s2" style="padding-top: 8px">
                            <input name="group2" type="radio" ng-value="1" ng-model="look_operation.menu_status"/>
                            <span>显示</span>
                        </label>
                        <label class="col s2" style="padding-top: 8px">
                            <input name="group2" type="radio" ng-value="0" ng-model="look_operation.menu_status"/>
                            <span>隐藏</span>
                        </label>
                    </div>

                    <!-- 菜单链接 -->
                    <div class="row" >
                        <div class="col s4" style="font-size: 16px;margin-top:8px;"><span style="color: red">&nbsp;&nbsp;</span> 菜单链接:</div>
                        <input class=" col s8" style="height:32px" name="menuLink" autocomplete="off" ng-model="look_operation.menu_link" type="text" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider" style="background: #5a86ba;height: 2px;"></div>
        <div class="modal-footer vc-center">
            <button class="btn waves-light waves-effect cyan" type="submit" name="action" >
                <i class="mdi mdi-check"></i>
            </button>
            <a  class=" modal-action modal-close waves-effect waves-light grey lighten-1 btn" style="margin-left: 10px" >
                <i class="mdi mdi-close"></i>
            </a>
        </div>
    </form>
</div>

<!--列表-->
<div class="page" style="margin-left:15px;margin-right: 15px;">
    <div class="right_title row col s12" style="background-color:#e5e5e5">当前位置：栏目列表管理</div>

    <div  style="background-color:#fff ">

        <!--用户管理 新增 预览-->
        <div class="right_con_title row col s12">
            <div class="right_con_title_l col s2"><i class="mdi  mdi-table-large" style="color: #5a86ba;font-size:28px;"> </i><span style="font-size: 20px">栏目列表管理</span></div>
            <div class="right_con_title_r col s3 offset-s7">
                <div class="col s5"></div>
                <a class="waves-effect waves-light btn col s5 circle_button"  ng-click="newOperator()" style="background-color: #e4644b">新增</a>
<!--                <a class="waves-effect waves-light btn col s5 circle_button offset-s2 cyan" href="http://www.stsswl.com">预览</a>-->
            </div>
        </div>

        <div class="row" style="padding-bottom:20px;">
            <ul class="collapsible popout" data-collapsible="accordion" style="overflow: hidden;margin: 0;box-shadow: none">
                <!--列表头-->
                <li style="font-weight: bold;">
                    <div class="collapsible-header"  style="height: 40px;line-height: 40px;padding: 0;margin: 0;background-color: #f6f5fa;" >
                        <div class="col s1"> </div>
                        <div class="col s3 left-align" style="border-right: 1px solid #ccc;">栏目名称</div>
                        <div class="col s2" style="border-right: 1px solid #ccc">序号</div>
                        <div class="col s2" style="border-right: 1px solid #ccc">关联</div>
                        <div class="col s2" style="border-right: 1px solid #ccc">是否显示</div>
                        <div class="col s2">操作</div>
                    </div>
                </li>

                <li ng-repeat="el in rootList">
                    <div class="collapsible-header" style="height: 40px;line-height: 40px;padding: 0;margin: 0;" ng-click="showLastTr(el._id,$index)">
                        <div class="col s1 right-align">
                            <p style="margin: 0">
                                <i class="mdi mdi-check" ng-show="el.lower_flag==1" style="cursor: pointer"> </i>
                            </p>
                        </div>
                        <div class="col s3 left-align">
                            <p style="margin: 0">{{el.menu_name}} </p>
                        </div>
                        <div class="col s2">
                            <p style="margin: 0">{{el.menu_num}}</p>
                        </div>
                        <div class="col s2">
                            <p style="margin: 0">{{linkList[el.menu_type-1].status_text}}</p>
                        </div>
                        <div class="col s2">
                            <p style="margin: 0" ng-if="el.menu_status==0">隐藏</p>
                            <p style="margin: 0" ng-if="el.menu_status==1">显示</p>
                        </div>
                        <div class="col s2" style="font-size: 25px">
                            <i class="mdi mdi-eye cyan-text" ng-click="lookOperation(el._id)" style="padding-left: 20px"> </i>
                            <i class="mdi mdi-delete-forever red-text" ng-click="delete(el._id)"> </i>
                        </div>
                    </div>

                    <div class="collapsible-body load_mission load_mission{{$index}}" style="height: 40px;line-height: 40px;padding: 0; !important;margin: 0;" >
                        <!--列表1-->
                        <div ng-repeat="el in firstList" style="border: 1px solid #ccc;background: #fafafa;padding: 0;margin: 0;">
                            <div ng-click="showLastTr2(el._id,$index)" style="padding: 0;margin: 0;">
                                <div style="height: 40px;line-height: 40px;">
                                    <div class="col s1 right-align">
                                        <p style="margin: 0">
                                            <i class="mdi mdi-check" ng-show="el.lower_flag==1" style="cursor: pointer"> </i>
                                        </p>
                                    </div>
                                    <div class="col s3 left-align">
                                        <p style="margin: 0">{{el.menu_name}} </p>
                                    </div>
                                    <div class="col s2">
                                        <p style="margin: 0">{{el.menu_num}}</p>
                                    </div>
                                    <div class="col s2">
                                        <p style="margin: 0">{{linkList[el.menu_type-1].status_text}}</p>
                                    </div>
                                    <div class="col s2">
                                        <p style="margin: 0" ng-if="el.menu_status==0">隐藏</p>
                                        <p style="margin: 0" ng-if="el.menu_status==1">显示</p>
                                    </div>
                                    <div class="col s2" style="font-size: 25px">
                                        <i class="mdi mdi-eye cyan-text" ng-click="lookOperation(el._id)"> </i>
                                        <i class="mdi mdi-delete-forever red-text" ng-click="delete(el._id)"> </i>
                                    </div>
                                </div>

                                <!-- 子 -->
                                <div class="load1_mission load1_mission{{$index}}">
                                    <!--列表2-->
                                    <div ng-repeat="el in scondList" style="height: 40px;line-height: 40px;border: 1px solid #ccc;background: #eee;padding: 0;margin: 0;">
                                        <div ng-click="showLastTr3(el._id,$index)" style="padding: 0;margin: 0;">
                                            <div class="col s1 right-align">
                                                <p style="margin: 0">
                                                    <i class="mdi mdi-check" ng-show="el.lower_flag==1" style="cursor: pointer"> </i>
                                                </p>
                                            </div>
                                            <div class="col s3 left-align">
                                                <p style="margin: 0">{{el.menu_name}} </p>
                                            </div>
                                            <div class="col s2">
                                                <p style="margin: 0">{{el.menu_num}}</p>
                                            </div>
                                            <div class="col s2">
                                                <p style="margin: 0">{{linkList[el.menu_type-1].status_text}}</p>
                                            </div>
                                            <div class="col s2">
                                                <p style="margin: 0" ng-if="el.menu_status==0">隐藏</p>
                                                <p style="margin: 0" ng-if="el.menu_status==1">显示</p>
                                            </div>
                                            <div class="col s2" style="font-size: 25px">
                                                <i class="mdi mdi-eye cyan-text" ng-click="lookOperation(el._id)"> </i>
                                                <i class="mdi mdi-delete-forever red-text" ng-click="delete(el._id)"> </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--拉开的当前列表栏,显示内容-->
<!--                    <div class="collapsible-body load1_mission load1_mission{{$index}}" ng-show="showTr2" style="height: 40px;line-height: 40px;padding: 0; !important;;margin: 0;" >-->
<!--                        &lt;!&ndash;列表2&ndash;&gt;-->
<!--                        <div ng-repeat="el in scondList" style="border: 1px solid #ccc;background: #eee;padding: 0;margin: 0;height: 40px;line-height: 40px;">-->
<!--                            <div ng-click="showLastTr3(el._id,$index)" style="padding: 0;margin: 0;">-->
<!--                                <div class="col s1 right-align">-->
<!--                                    <p style="margin: 0">-->
<!--                                        <i class="mdi mdi-check" ng-show="el.lower_flag==1" style="cursor: pointer"> </i>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                                <div class="col s3 left-align">-->
<!--                                    <p style="margin: 0">{{el.menu_name}} </p>-->
<!--                                </div>-->
<!--                                <div class="col s2">-->
<!--                                    <p style="margin: 0">{{el.menu_num}}</p>-->
<!--                                </div>-->
<!--                                <div class="col s2">-->
<!--                                    <p style="margin: 0">{{linkList[el.menu_type-1].status_text}}</p>-->
<!--                                </div>-->
<!--                                <div class="col s2">-->
<!--                                    <p style="margin: 0" ng-if="el.menu_status==0">隐藏</p>-->
<!--                                    <p style="margin: 0" ng-if="el.menu_status==1">显示</p>-->
<!--                                </div>-->
<!--                                <div class="col s2" style="font-size: 25px">-->
<!--                                    <i class="mdi mdi-eye cyan-text" ng-click="lookOperation(el._id)"> </i>-->
<!--                                    <i class="mdi mdi-delete-forever red-text" ng-click="delete(el._id)"> </i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </li>
            </ul>
        </div>

    </div>
</div>