<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/backend/assets/plugins/materialize/css/materialize.css"/>
    <link rel="stylesheet" href="/backend/assets/css/client.css"/>
</head>

<body>

    <!--公用头-->
    <div id="nav_bg">
        <div id="logoimg">
            <a href="#" className="col s12">
                <img alt="logo" src="/backend/assets/images/logo.png"  id="logo_img"/>
            </a>
        </div>

        <div className="nav_ce col s7">
            <del className="containers" id="menu">
                <ul className="tree_1" id="menu2">
                    <li className="nav_block col s1"><a href="index"><%=  %></a></li>
                </ul>
            </del>
        </div>
    </div>