<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/uploads/favicon.ico" type="image/x-icon">
    <title><%= title %></title>
    <meta name="keywords" content=<%=metaArray.join(' ')%>>

    <% cssArray.forEach(function(item) { %>

        <link rel="stylesheet" href=<%= item %> />
    <% }) %>
</head>

<body style="height: 100%">