
</body>
<% scriptArray.forEach(function(item) { %>

<script src=<%= item %> ></script>
<% }) %>

<script>
    // $("#carousel_1").FtCarousel();
    $("#sideNav").sideNav({closeOnClick: true});

    $('.carousel').carousel();
    $('.carousel.carousel-slider').carousel({
        fullWidth: true,
        indicators: true
    });

    window.setInterval(function() { $(".carousel").carousel('next') }, 4500);
</script>

</html>