
</body>
<% scriptArray.forEach(function(item) { %>

<script src=<%= item %> ></script>
<% }) %>

<script>
    // $("#carousel_1").FtCarousel();
    $("#sideNav").Sidenav({closeOnClick: true});
    // $("#sideNav").Sidenav({
    //     menuWidth: 280, // Default is 300
    //     edge: 'left', // Choose the horizontal origin
    //     closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
    // });


    $('.carousel').Carousel();
    $('.carousel.carousel-slider').Carousel({
        fullWidth: true,
        indicators: true
    });

    window.setInterval(function() { $(".carousel").Carousel('next') }, 4500);
</script>

</html>