
</body>
<% scriptArray.forEach(function(item) { %>

<script src=<%= item %> ></script>
<% }) %>

<script src="../backend/assets/plugins/slider/ft-carousel.min.js"></script>
<script>
    $("#carousel_1").FtCarousel();
</script>

</html>