
</body>
<% scriptArray.forEach(function(item) { %>

<script src=<%= item %> ></script>
<% }) %>

<script>
    $("#carousel_1").FtCarousel();

    // 主页面 引入Material侧边导航
    $('.sidenav').sidenav();

    // 主页面 引入Material轮播
    $('.slider').slider({height:500});
</script>

</html>